<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <meta name="darkreader-lock">
    <meta name="description" content="Decompilation progress report for {{ project_name }}">
    <title>{{ project_short_name }} • Progress Report</title>
    <link rel="stylesheet" href="/css/main.min.css?1">
    <script src="/js/treemap.min.js?1"></script>
    <meta property="og:title" content="{{ project_short_name }} is {{ measures.matched_code_percent | round(2) }}% decompiled">
    <meta property="og:description" content="Decompilation progress report for {{ project_name }}">
    <meta property="og:image" content="{{ image_url | safe }}">
    <meta property="og:url" content="{{ canonical_url | safe }}">
</head>
<body>
<header>
    <nav>
        <ul>
            <li>
                <a href="https://decomp.dev">
                    <strong>decomp.dev</strong>
                </a>
            </li>
            <li>
                <a href="/">Projects</a>
            </li>
            <li>
                <a href="{{ project_path | safe }}">{{ project_short_name }}</a>
            </li>
            <li>
                <details class="dropdown">
                    <summary>{{ version }}</summary>
                    <ul dir="rtl">
                        {% for version in versions %}
                        <li><a href="{{ version.path | safe }}">{{ version.id }}</a></li>
                        {% endfor %}
                    </ul>
                </details>
            </li>
        </ul>
        <ul>
            <li>
                <a href="https://ghidra.decomp.dev">Ghidra</a>
            </li>
        </ul>
    </nav>
</header>
<main>
    <h3>{{ project_short_name }} is {{ measures.matched_code_percent | round(2) }}% decompiled</h3>
    {% if not current_unit %}
    <h4 class="muted">{{ measures.complete_code_percent | round(2) }}% fully linked</h4>
    {% endif %}
    {% if source_file_url %}
    <h4 class="muted"><a href="{{ source_file_url | safe }}" target="_blank">View source file</a></h4>
    {% endif %}
    <h6 class="report-header">Code</h6>
    <div class="progress-root code">
        <div class="progress-section" style="width: {{ measures.complete_code_percent }}%"></div>
        <div class="progress-section striped"
             style="width: {{ measures.matched_code_percent - measures.complete_code_percent }}%"></div>
        <div class="progress-section striped"
             style="width: {{ measures.fuzzy_match_percent - measures.matched_code_percent }}%"></div>
    </div>
    <!-- Invisible overlay for tooltips -->
    <div class="progress-root overlay">
        <div class="progress-section" style="width: {{ measures.complete_code_percent }}%"
             data-tooltip="{{ measures.complete_code_percent | round(2) }}% fully linked"></div>
        <div class="progress-section"
             style="width: {{ measures.matched_code_percent - measures.complete_code_percent }}%"
             data-tooltip="{{ measures.matched_code_percent | round(2) }}% perfect match"></div>
        <div class="progress-section"
             style="width: {{ measures.fuzzy_match_percent - measures.matched_code_percent }}%"
             data-tooltip="{{ measures.fuzzy_match_percent | round(2) }}% fuzzy match"></div>
    </div>
    <h6 class="report-header">Data</h6>
    <div class="progress-root data">
        <div class="progress-section" style="width: {{ measures.complete_data_percent }}%"></div>
        <div class="progress-section striped"
             style="width: {{ measures.matched_data_percent - measures.complete_data_percent }}%"></div>
    </div>
    <!-- Invisible overlay for tooltips -->
    <div class="progress-root overlay">
        <div class="progress-section" style="width: {{ measures.complete_data_percent }}%"
             data-tooltip="{{ measures.complete_data_percent | round(2) }}% fully linked"></div>
        <div class="progress-section"
             style="width: {{ measures.matched_data_percent - measures.complete_data_percent }}%"
             data-tooltip="{{ measures.matched_data_percent | round(2) }}% perfect match"></div>
    </div>
    <h6 class="report-header">Commit</h6>
    <div>
        {% if commit_message %}
        <pre><a href="{{ commit_url | safe }}" target="_blank">{{ commit[:7] }}</a> | {{ commit_message }}</pre>
        {% endif %}
        <div role="group">
            {% if prev_commit_path %}
            <a role="button" href="{{ prev_commit_path | safe }}" class="outline secondary">Previous</a>
            {% else %}
            <button class="outline secondary" disabled>Previous</button>
            {% endif %}
            {% if next_commit_path %}
            <a role="button" href="{{ next_commit_path | safe }}" class="outline secondary">Next</a>
            {% else %}
            <button class="outline secondary" disabled>Next</button>
            {% endif %}
            {% if latest_commit_path %}
            <a role="button" href="{{ latest_commit_path | safe }}" class="primary">Latest</a>
            {% else %}
            <button class="primary" disabled>Latest</button>
            {% endif %}
        </div>
    </div>
    {% if current_unit %}
    <h6 class="report-header">Functions</h6>
    <div role="group">
        <a role="button" href="{{ units_path | safe }}">Back to units</a>
    </div>
    {% else %}
    <h6 class="report-header">Units</h6>
    {% if categories | length > 1 %}
    <details class="dropdown">
        <summary>{{ current_category.name }}</summary>
        <ul>
            {% for category in categories %}
            <li><a href="{{ category.path | safe }}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    </details>
    {% endif %}
    {% endif %}
    <script>
        document.write('<canvas id="treemap" width="100%"></canvas>');
        drawTreemap("treemap", {{ not current_unit }}, {{ units | tojson }});
    </script>
    <noscript>
        <img id="treemap" src="{{ image_url | safe }}" alt="Progress graph">
    </noscript>
</main>
{% include 'fragments/footer.html' %}
</body>
</html>
